body {
  /* background-image: url("../../assets/images/egg__01.jpg");
  background-repeat: no-repeat;
  background-size:  1050px 657px;; */
  font-family: "Roboto", sans-serif;
  margin-top: 0%;
  margin-left: 0%;
  /* background-color: #ED1C24; */
}


.login-box {
  width: 360px;
  height: 360px;
  margin: auto;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 10%;
  /* background-color: rgb(33, 194, 67); */
}


form {
  width: 300px;
  margin-left: 20px;
  position: absolute;
  margin-top: 4%;
}

form label {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-top: 25px;
  font-size: 18px;
  margin-left: 5px;
  font-weight:bolder;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid rgb(165, 164, 164);
  border-radius: 10px;
  outline: none;
}
input[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 330px;
  height: 35px;
  margin-top: 20px;
  margin-left: 7px;
  border: none;
  background-color: rgb(237,28,36);
  color: white;
  font-size: 18px;
  border-radius: 10px;
}
input[type="button"]:hover{
  background-color: rgb(250, 105, 52);
}
.para-2 {
  position: absolute;
  margin-top: 20%;
  margin-left: 4%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding-top: 23px;
}
.para-3 {
  position: absolute;
  margin-top: 23%;
  margin-left: 5%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding-top: 23px;
}

.para-2 a {
  color: rgb(4, 0, 255);
}

.para-3 a {
  color: rgb(4, 0, 255);
}

.bites{
  margin-left: 29.7%;
  position: absolute;
  margin-top: 1.4%;
  color:black;
  font-size: 40px;
  font-family: "Square Peg",sans-serif;
}
.bitesLogin{
position: absolute;
margin-left: 13.7%;
margin-top: -1.7%;
font-size: 40px;
color: black;
font-family: "Square Peg",sans-serif;
font-weight: 600;
}
.back{
  position:absolute; top:0px; left:0px; margin-left : 0%;  width: 100%; height: 100%;
}
.logo{
  position: absolute; margin-left: 10%; margin-top: -2%;
}
@media only screen and (max-width: 600px){

  body {
    /* background-image: url("../../assets/images/egg__01.jpg");
    background-repeat: no-repeat;
    background-size:  1050px 657px;; */
    font-family: "Roboto", sans-serif;
    margin-top: 30%;
    margin-left: -30%;
    /* background-color: #ED1C24; */
  }
  
  
  .login-box {
    width: 360px;
    height: 360px;
    margin: auto;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 10%;
    /* background-color: rgb(33, 194, 67); */
  }
  
  
  form {
    width: 300px;
    margin-left: 20px;
    position: absolute;
    margin-top: 4%;
  }
  h1{
    display: none;
  }
  form label {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 25px;
    font-size: 18px;
    margin-left: 5px;
    font-weight:bolder;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid rgb(165, 164, 164);
    border-radius: 10px;
    outline: none;
  }
  input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    width: 330px;
    height: 35px;
    margin-top: 20px;
    margin-left: 7px;
    border: none;
    background-color: rgb(237,28,36);
    color: white;
    font-size: 18px;
    border-radius: 10px;
  }
  input[type="button"]:hover{
    background-color: rgb(250, 105, 52);
  }
  .para-2 {
    position: absolute;
    margin-top: 20%;
    margin-left: 4%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding-top: 23px;
  }
  .para-3 {
    position: absolute;
    margin-top: 23%;
    margin-left: 5%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding-top: 23px;
  }
  
  .para-2 a {
    color: rgb(4, 0, 255);
  }
  
  .para-3 a {
    color: rgb(4, 0, 255);
  }
  
  .bites{
    margin-left: 29.7%;
    position: absolute;
    margin-top: 1.4%;
    color:black;
    font-size: 40px;
    font-family: "Square Peg",sans-serif;
  }
  .bitesLogin{
  position: absolute;
  margin-left: 40%;
  margin-top: -1.7%;
  font-size: 40px;
  color: black;
  font-family: "Square Peg",sans-serif;
  font-weight: 600;
  }
  .back{
    display: none;
  }
  .logo{
    position: absolute; margin-left: 27%; margin-top: -2%;
  }
}