<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN HOME</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="confirm-order.component.css">
  </head>
  <body>
        <img style="position:absolute; top:0px; left:0px; margin-left : 0%;  width: 1365.5px; height: 657px;" src="../../assets/images/map.jpg">     
  
      <div class="cart-box">
        <h1>
            HI {{name}}, YOUR ORDER IS BEING CONFIRMED AND IT WILL BE DELIVERED TO YOU WITHIN {{mins}} MINS, YOU CAN LOGOUT AND CHILL
        </h1>
        <button><a (click) = "logoutUser()"> LOG OUT </a></button>
    </div>
    
    
    
  </body>
</html>