<!DOCTYPE html>
<html>
<head>
    <title>ADMIN HOME</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="admin-home.component.css">
</head>
<body>
    <div>
        <ul>
            <li>BITES</li>
            <li style = "position:relative; left:20%; " >
              <a routerLink="/viewUsers" routerLinkActive=""> VIEW USERS </a>
            </li>
            <li style = "position:relative; left:25%; ">
                <a routerLink="/addHotels" routerLinkActive=""> ADD HOTELS </a>
              </li>
              <li style = "position:relative; left:30%; ">
                <a routerLink="/viewHotels" routerLinkActive=""> VIEW HOTELS </a>
              </li>
            <li style = "position:relative; left:35%; ">
              <a (click) = "logoutUser()"
              > LOG OUT </a>
            </li>
          </ul>
        </div>

        <img src="../../assets/images/admin.jpg" alt=""  class="back">
        <div class="cart-box">
          <h1>
            "ONLY FEW PPL CAN CONTROL THINGS AND YOU ARE ONE AMONG THEM :)" WELCOME ADMIN
          </h1>
      </div>
</body>
</html>